<div id="frame">
<form id="addproject" action="/newcourse" method="post">
<div class="row">
  <div class="span2 offset4">
  <h2>ADD A COURSE</h2>
</div>
</div>
  
  <br />
  <br />
  <div class="row">
<div class="span2 offset2">
  <div class="text">
  TITLE
  </div>
  <div class="span2">
  <div class="input">
  <input type="text" name="title" value=""/>
  </div>
  </div>
  </div>
  <div class="row">
<div class="span2 offset2">
   <div class="text">
  DATE
  </div>
  </div>
  <div class="span2">
  <div class="input">
  <input type="text" name="date" value=""/>
  </div>
  </div>
  </div>
  <div class="row">
<div class="span2 offset2">
 <div class="text">
 INSTRUCTOR
 </div>
 </div>
  <div class="span2">
     <div class="input">
  <input type="text" name="instructor" value=""/>
  </div>
  </div>
  </div>
  <div class="row">
<div class="span2 offset2">
 <div class="text">
 DESCRIPTION
 </div>
 </div>
  <div class="span4">
     <div class="input">
  <textarea rows="10" cols="60" name="description"></textarea>
  </div>
  </div>
  </div>
  <div class="row">
<div class="span2 offset4">
  <div id="submit">
  <input type="submit"  id="submitImage"  width="100" value="Submit">
  </div>
  </div>
  </div>
</form>
