<div id="frame">
  <form id="addproject" action="http://itp.nyu.edu/~rtb288/sinatra/grandio/newcourse" method="post">
    <div class="row">
      <div class="span2 offset4">
        <h2>
          ADD A COURSE
        </h2>
      </div>
    </div>  
    
    <br />
    <br />
    
    <div class="row">
      
      <div class="span2 offset2">
        <div class="text">
          TITLE
        </div>
      </div>
      <div class="span2">
        <input style="input" type="text" name="title" value=""/>
      </div>

      <br />
    
      <div class="span2 offset2">
        <div class="text">
          DATE
        </div>
      </div>
      <div class="span2">
        <input type="date" name="date" value=""/>
      </div>

      <br />      
      
      <div class="span2 offset2">
        <div class="text">
          DESCRIPTION
        </div>
      </div>
      <div class="span2">
        <textarea rows="10" cols="60" name="description"></textarea>
      </div>
      
      <div class="span3 offset3">
        <div id="submit">
          <input type="submit"  id="submitImage"  width="100" value="Submit">
        </div>
      </div>
    </div>
  </form>
</div>
