<div id="frame">

	<h2>COURSES N SHIT</h2>
	<br />
	<br />

	<% @courses.each do |course| %>
	
		<div class="course">
			<a href="courses/<%= course.title %>"><%= course.title %></a>  
			<br>
			<p>By <%= course.instructorfirst %> <%= course.instructorlast %></p>
			<br>
		</div>
	
	<% end %>

	<% if @addcourses %>

	<h2>
		<a href="http://itp.nyu.edu/~rtb288/sinatra/grandio/addcourse">Add Course</a>
	</h2>

	<% end %>

</div>
