<div id="frame">
	
	<h1>
		Grand IO
	</h1>

	<br>
	<a href="http://itp.nyu.edu/~rtb288/sinatra/grandio/about">ABOUT US</a>
	<br>
	<a href="http://itp.nyu.edu/~rtb288/sinatra/grandio/courses">COURSES</a>
	<br>

</div>
