<div id="frame" style="height: 300">

  <h1> 
      <%= @page_heading %> 
  </h1>
  
  <br>
  
  <form id="login" action="http://itp.nyu.edu/~rtb288/sinatra/grandio/signedup" method="POST">
            
      <div class="span1 offset1">
          <input style="height: 28px; margin-bottom: 1px" type="text" width="100" name="firstname" placeholder="first name" />
          <input style="height: 28px; margin-bottom: 1px" type="text" width="100" name="lastname" placeholder="last name" />
          <input style="height: 28px; margin-bottom: 1px" type="text" width="100" name="email" placeholder="email" />        
          <input style="height: 28px; margin-bottom: 1px" type="password" width="100" name="password" placeholder="password" />
          <input style="height: 28px; margin-bottom: 1px" type="password" width="100" name="checkpassword" placeholder="reenter password" />
          <input type="submit"  style="margin-left: -10" id="submitImage" name="Login" width="100" placeholder="login" />
      </div>
      <a href="http://itp.nyu.edu/~rtb288/sinatra/grandio/">
          <%= @forgotPassword %> 
      </a>
  
  </form>

</div>